<div>
    <h1>Products</h1>
    <product-search
        [minPrice]="minPrice"
        [maxPrice]="maxPrice"
        [brands]="brands"
        [categories]="categories"
        (filtersChange)="onFiltersChanged($event)"
    ></product-search>
    <product-list [products]="products"></product-list>
    <product-pagination
        [currentPage]="currentPage"
        [totalItems]="totalItems"
        [itemsPerPage]="itemsPerPage"
        (pageChange)="onPageChange($event)">
    </product-pagination>
</div>
