.progress-header {
    display: flex;
    justify-content: space-around;
    background-color: #2c2c2c; // Dark background for header
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
    
    .step {
      color: #aaa; // Inactive step color
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      padding: 10px;
      text-align: center;
      border-bottom: 2px solid transparent;
      transition: color 0.3s, border-color 0.3s;
  
      &.active {
        color: #e94560; // Active step color
        border-bottom: 2px solid #e94560; // Highlight active step
      }
  
      &:hover {
        color: lighten(#e94560, 10%); // Lighter on hover
      }
    }
  }
  