.confirmation-page {
  padding: 20px;
  background-color: #1a1a1b;
  border-radius: 8px;
  max-width: 700px;
  margin: 0 auto;

  .page-title {
    text-align: center;
    color: #e94560; // Your primary color
    margin-bottom: 20px;
  }

  .confirmation-section {
    margin-bottom: 20px;
    padding: 15px;
    // background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .section-title {
      margin-top: 0;
      color: #e94560; // Your primary color
      border-bottom: 2px solid #e94560; // Underline for section titles
      padding-bottom: 5px;
    }

    .address-details, .payment-details {
      p {
        margin: 5px 0;
      }
    }

    .cart-items-list {
      list-style-type: none;
      padding: 0;

      .cart-item {
        margin-bottom: 10px;
        padding: 10px;
        // background-color: #ffffff;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

        p {
          margin: 5px 0;
        }
      }
    }

    .total-price {
      font-weight: bold;
      margin-top: 10px;
    }
  }

  .confirm-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e94560; // Your primary color
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;

    &:hover {
      background-color: #d63b55; // Darker shade of your primary color
    }
  }
}
