<div class="filter-container">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search" (ngModelChange)="onFilterChange()" class="input-field" />
    
    <select [(ngModel)]="category" (change)="onFilterChange()" class="select-field">
      <option value="">All Categories</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      <!-- Add more categories -->
    </select>

    <select [(ngModel)]="brand" (change)="onFilterChange()" class="select-field">
      <option value="">All Brands</option>
      <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
      <!-- Add more categories -->
    </select>
    
    <input type="number" [(ngModel)]="selectedMinPrice" (ngModelChange)="onFilterChange()" placeholder="Min Price" class="input-field" />
    <input type="number" [(ngModel)]="selectedMaxPrice" (ngModelChange)="onFilterChange()" placeholder="Max Price" class="input-field" />
  
    <button (click)="clearFilters()" class="btn-clear">Clear Filters</button>
</div>  