<p>register works!</p>
<form (ngSubmit)="register()" #registrationForm="ngForm">
    <div>
        <label for="username">Username:</label>
        <input type="username" id="username" name="username" [(ngModel)]="userRegistration.username" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="userRegistration.email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="userRegistration.password" required>
    </div>
    <button type="submit" [disabled]="isSubmitting">Register</button>
    <div *ngIf="submissionSuccess" class="success">{{ submissionSuccess }}</div>
    <div *ngIf="submissionError" class="error">{{ submissionError }}</div>
  </form>