<li class="cart-item-container">
    <div class="cart-item-info">
      <span class="item-name">{{ cartItem.name }}</span>
      <span class="item-price">${{ cartItem.price.toFixed(2) }}</span>
    </div>
    
    <div class="cart-item-quantity" *ngIf="availableQuantities.length > 1">
      <label for="quantity-select-{{cartItem.productId}}" class="visually-hidden">Quantity:</label>
      <select
        id="quantity-select-{{cartItem.productId}}"
        [ngModel]="quantity"
        (ngModelChange)="onQuantityChange(cartItem.productId, $event)"
        class="quantity-select"
      >
        <option *ngFor="let qty of availableQuantities" [value]="qty">{{ qty }}</option>
      </select>
    </div>
    
    <button (click)="removeFromCart(cartItem.productId)" class="btn-remove">Remove</button>
  </li>
  