.home-page {
    .hero {
      // background-color: #0a0a12; // Darker color background
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      text-align: center;
      padding: 0 20px;
  
      .hero-content {
        max-width: 600px; // Limit the width for better focus
        animation: fadeIn 2s ease-in-out;
  
        h1 {
          font-size: 50px;
          margin-bottom: 20px;
          font-weight: 700;
          color: #f5f5f5;
          animation: slideInFromBottom 1s ease-out;
        }
  
        p {
          font-size: 20px;
          margin-bottom: 30px;
          color: #cccccc;
          animation: slideInFromBottom 1.5s ease-out;
        }
  
        .btn-primary {
          background-color: #e94560;
          color: #fff;
          padding: 15px 40px;
          font-size: 18px;
          border-radius: 50px; // Rounded button for a modern look
          text-decoration: none;
          transition: background-color 0.3s ease, transform 0.2s;
  
          &:hover {
            background-color: #d03350;
            transform: scale(1.05); // Slight scale on hover
          }
        }
      }
    }
  
    // Keyframes for animations
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  
    @keyframes slideInFromBottom {
      0% {
        opacity: 0;
        transform: translateY(50%);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  