<p>login works!</p>
<form (ngSubmit)="login()">
    <label for="email">email</label>
    <input type="email" name="email" id="email" [(ngModel)]="userLogin.email">
    <label for="password">password</label>
    <input type="password" name="password" id="password" [(ngModel)]="userLogin.password">
    <button type="submit">login</button>
    <div *ngIf="submissionSuccess" class="success">{{ submissionSuccess }}</div>
    <div *ngIf="submissionError" class="error">{{ submissionError }}</div>
</form>